<p>Find me in app/views/cocktails/show.html.erb</p>
<h4><%= link_to 'Delete Drink', cocktail_path(@cocktail), method: :delete %></h4>
<h1> <%= @cocktail.name %></h1>


<p>----------------------------------------------</p>


<h3>Ingredients:</h3>


<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %> - <%= dose.description %>
<%= link_to "(Delete This Dose)", dose_path(dose), method: :delete %></p>
<% end %>


<p>----------------------------------------------</p>

<h3>Form Here:</h3>

<%= render 'doses/form', cocktail: @cocktail, dose: @dose, ingredients: @ingredients %>

<p>----------------------------------------------</p>

<h4><%= link_to 'Back to Cocktail List', cocktails_path %></h4>




